body {
  margin: 0;
  height: auto;
  width: auto;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#30456B, #C4DCE3);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
